# Remeber to set a global .gitignore to your system to excluse specific OS / IDE files / folders.
# Please make sure .env file is present in .gitignore

.env*
*.pyc
*.sqlite3
secret_key.py
media/
static/
__pycache__/
postgres_db_data/
